[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.6"
django-filter = "==23.3"
djangorestframework = "==3.14.0"
django-autoslug = "*"
django-environ = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
pymysql = "*"
gunicorn = "*"
cryptography = "*"
fabric2 = "*"
django-storages = "*"
boto3 = "*"
requests = "*"
django-dbbackup = "*"
tensorflow = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
scrapy = "*"

[dev-packages]

[requires]
python_version = "3.11"
